<pool type="dir">
        <name>vpool</name>
        <allocation>20000000000</allocation>
        <capacity>20000000000</capacity>
        <available>20000000000</available>
        <target>
          <path>/srv/virtualmachines/vpool</path>
          <permissions>
            <owner>107</owner>
            <group>107</group>
            <mode>0744</mode>
            <label>virt_image_t</label>
          </permissions>
        </target>
</pool>