---
- name: copy template from ansible to the remote host
  copy: src=pool/dir.xml.j2 dest=/opt/dir.xml.j2

- name: build a pool for kvm
  virt_pool: command=define name=disks xml=/opt/dir.xml.j2
  
- name: build pool if it does not exist
  virt_pool: command=build name=disks
  
- name: start the pool
  virt_pool: command=create name=disks
  
- name: ensure the pool is autostart
  virt_pool: autostart=yes name=disks